fastapi~=0.116.1
uvicorn~=0.35.0
onnxruntime~=1.22.1
pillow~=11.3.0
numpy~=2.2.6
torch~=2.7.1+cu118
matplotlib~=3.10.5
PyYAML~=6.0.2
tqdm~=4.67.1
torchvision~=0.22.1+cu118
scikit-learn~=1.7.1
pydantic~=2.11.7